body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #faf9f7;
    color: #333;
    max-width: 720px;
    margin: 40px auto;
    padding: 0 20px 60px;
    line-height: 1.6;
}
h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2.8em;
    color: #21773b;
    margin-bottom: 10px;
    font-family: 'Baskerville', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2 {
    color: #21773b;
        border-bottom: 2px solid #21773b;
    padding-bottom: 6px;
    margin-top: 40px;
    font-family: 'Baskerville', sans-serif;
    text-align: center;

}
h3 {
    margin-top: 0;
    color: #21773b;
        font-family: 'Baskerville', sans-serif;
}
p, ul {
    font-size: 1.1em;
    margin-bottom: 18px;
}
ul {
    list-style: disc inside;
    margin-left: 1em;
}
.time, .address {
    font-style: italic;
    color: #666;
}
.section {
    background: white;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(179, 58, 58, 0.15);
    margin-bottom: 30px;
}
footer {
    text-align: center;
    margin-top: 25px;
    font-size: 0.9em;
    color: #999;
    font-style: italic;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-left: auto;
        margin-right: auto;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    text-align: center;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}